// .cartCards{
//     height: 250px;
//     .cartCards__img{
//         width: 40%;
//         max-height: 100%;
//         object-fit: cover;
//     }
// }
.cartCards__img{
            width: 100%;
           max-height: 100%;
            object-fit: cover;
         }
.cardResume{
    max-height: 300px;
}

 @media  screen and (max-width:768px) {
    .cardResume{        
         min-height: 250px;
     }
 }