.bg{
    // background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
    background-image: url("../../../public/3.jpg");
    background-attachment: fixed;
    background-position: left bottom;
    opacity: 90%;
}