@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400&family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #000 #f1f1f1;
  &::-webkit-scrollbar{
    width: 5px;
  }
  &::-webkit-scrollbar-track{
    background-color: #000;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #f1f1f1;
    border-radius: 10px;
  }
}

.myBody {
  margin: 0;
  font-family: 'Poppins','Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}



@import "partials/vars";
@import "partials/custom";
@import "partials/CartWidget";
@import "partials/ItemList";
@import "partials/Item";
@import "partials/ShopInfo";
@import "~bootstrap/scss/bootstrap";

.slideImg{
  height: 300px;
  object-fit: cover;
}

